body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kanbas .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}


#wd-people-table .table {
    width: 100%;
    text-align: left;
}

.wd-full-name {
    display: flex;
    align-items: center;
}

/* Add this CSS to your stylesheet */

@media (max-width: 768px) {
    #wd-course-status {
        display: none;
    }

    /* Ensure that the Modules take up the full width when CourseStatus is hidden */
    #wd-home table {
        width: 100%;
    }

    #wd-home table td {
        width: 100%;
    }
}